* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f5f9;
}

.container {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 450px;
    padding: 40px;

    text-align: center;

    background: white;
    border-radius: 15px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1e3a8a;
    margin-bottom: 20px;
}

.time {
    margin: 25px 0;

    font-size: 28px;
    font-weight: bold;

    color: #f15a24;
}

.button {
    display: inline-block;

    padding: 12px 24px;

    background: #2563eb;
    color: white;

    text-decoration: none;

    border-radius: 8px;
}

.button:hover {
    background: #1d4ed8;
}